h1{
    font-family: Ogg;
}

p {
    font-family: 'Euclid Circular B';
    font-size: 1.5vw;
}

body a {
    text-decoration: none;
    font-family: 'Euclid Circular B';
    color: black;
}

body a :hover {
    font-weight: bolder;
}

h5 {
    font-family: 'Euclid Circular B';
}

/* Navbar */

#navbar {
    background-color: #f8f6ec;
    height: 135px;
}

#navbar {
    padding-top: 35px;
}

#navbar img{
    height: 30px;
}

.navbar-item-left {
    padding-left: 3%;
}

@media only screen and (min-width: 1000px) {
    .navbar-brand {
        text-align: center;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-brand {
        padding-right: 25%;
    }
}

.navbar-item-right {
    margin-left: 15%;
}

.nav-item {
    margin: 0 25px 0 25px;
    font-size: 20px;
}

/* End of Navbar */

/* Page 1 */
#page-1 p{
    /* height: 621px; */
    padding: 570px 0 0 325px;
    font-family: Ogg;
    font-size: 30px;
    color: #ffff;
}

.first-page-1{
    background-image: url('assets/page1-bg2.png');
    background-repeat: no-repeat;
}

.first-page-2{
    background-image: url('assets/page1-bg1.png');
    background-repeat: no-repeat;
}

.first-page-3{
    background-image: url('assets/page1-bg.png');
    background-repeat: no-repeat;
}

/* End of Page 1 */


/* Page 2 */
#page-2{
    background-image: url('assets/page-2-bg.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 900px; */
    padding: 0 0 100px 0;
}

#page-2 .page-2-content-container{
    text-align: center;
    width: 700px;
    padding-top: 200px;
    margin-left: 400px;
    padding-bottom: 100px;
}

#page-2 .page-2-content-container h1{
    margin-bottom: 40px;
    font-size: 70px;
}

#page-2 h1{
    font-family: Ogg;
}

.page-2-icons{
    margin-left: 300px;
}

#page-2 img {
    width: 100px;
}

.icon-num{
    padding: 0;
    width: 30px;
}

#page-2 button{
    display: block;
    border: solid black;
    border-radius: 0;
    margin: 100px auto 0 auto;
}

/* End of Page 2 */

/* Page 3 */
.page-3-title {
    margin-left: 50px;
}
.page-3-title p{
    width: 550px;
    font-weight: lighter;
    padding-bottom: 30px;
    line-height: 30px;
}

#page-3 a :hover{
    text-decoration: underline black;
}

.page-3-title h1{
    font-size: 120px;
    padding-bottom: 50px;
}

#page-3 img{
    height: 300px;
}

.product-size {
    display: flex;
    padding-left: 10px;
    align-content: space-between;
}

.product-size div {
    margin: 10px 10px 10px 10px;
    font-weight: lighter;
    text-align: center;
}

.product-size div :hover{
    font-weight: bold;
}

#page-3 hr{
    border: 0.5px solid black;
}

.product-detail {
    display: flex;
}


.product-detail .price {
    padding-left: 90px;
    padding-bottom: 10px;
}

#page-3 {
    padding: 20px 0 50px 0;
}

/* End of Page 3 */

/* Page 4 */
#page-4{
    text-align: center;
    color: white;
    background-image: url('assets/page-4-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 150px 0 150px 0;
}

@media only screen and (max-width: 768px) {
    /* #page-4 h1{
        width: 100%;
        max-width: 400px;
        height: auto;
        font-size: 3em;
    }

    #page-4 p{
        width: 100%;
        max-width: 400px;
        height: auto;
        font-size: 2em;
    } */
}

#page-4 h1{
    font-size: 6vw;
    width: 900px;
    text-align: center;
    display: block;
    margin: auto;
}

#page-4 div{
    padding: 20px 0 10px 0;
}

#page-4 .btn{
    border: 1px solid white;
    border-radius: 0;
    color: white;
}

/* End of Page 4 */

/* Page 5 */
#page-5 {
    background-color: #fffdfa;
    padding: 50px 20px 50px 20px;
    align-content: center;
}

#page-5 h1{
    font-size: 100px;
}

#page-5 a{
    padding: 0 0 0 ;
}

#page-5 img{
    height: 300px;
}

#page-5 hr{
    border: 0.5px solid black;
}

#page-5 .page5-header {
    padding: 0 0 50px 0;
}

/* End of Page 5 */

/* Page 6 */
#page-6 {
    background-color: #fffdfa;
    padding: 50px 20px 50px 20px;
}

@media only screen and (max-width: 768px) {
    #page-6 img{
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    #page-6 h1{
        max-width: 100%;
        height: auto;
    }

    #page-6 p {
        max-width: 100%;
        height: auto;
    }
}

#page-6 h1 {
    font-size: 80px;
    line-height: 100px;
}

#page-6 h2 {
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    padding: 50px 0 0 0;
}

.reviews {
    display: flex;
    /* align-content: space-between; */
    padding: 0 0 10px 0;
}

.reviews hr {
    border: 3px solid black;
    width: 100px;
    height: 0px;
    margin: 10px 40px 10px 40px;
}

/* End of Page 6 */

/* Footer */
#footer h1{
    font-size: 70px;
    padding-bottom: 30px;
}

#footer input {
    border-radius: 0;
    border-top: 1px;
    border-right: 0;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: black;
    height: 70px;
    width: 80px;
}

.input-container{
    padding-top: 40px;
}

#footer .btn {
    border-radius: 0;
    height: 70px;
    width: 100px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: black;
}

.footer-top{
    padding-bottom: 100px;
}

.footer-items{
    padding: 0 50px 0 50px;
}

#footer .btn :hover{
    font-weight: bold;
}

.footer-items a {
    margin: 20px 0 20px 0;
}

.follow-section {
    width: 250px;
}
/* .contact-section{
    display: flex;
    padding: 0;
} */


/* End of Footer */